[Unit]
Description=Quick fan control software

[Service]
ExecStart=~/git/corsair-command-fancontrol/fancontrol.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
